<app-app-shell
  [activeView]="activeView()"
  [completionBanner]="completionBanner()"
  [subtitle]="shellSubtitle"
  (openPrivatePractice)="openPrivatePractice()"
  (switchView)="switchView($event)"
  (clearBanner)="completionBanner.set(null)"
>
  @if (activeView() === 'library') {
    <app-library-view
      [categories]="store.categories()"
      [filteredStatements]="filteredStatements()"
      [selectedCategoryId]="selectedCategoryId()"
      [selectedCategoryLabel]="selectedCategoryLabel"
      [totalStatements]="store.statements().length"
      [dueCount]="store.dueOccurrences().length"
      [dueByStatement]="dueByStatement()"
      [categoryName]="categoryName.bind(this)"
      [statementSummary]="statementSummary.bind(this)"
      (selectCategory)="selectedCategoryId.set($event)"
      (startStatement)="startStatement($event)"
      (startCustomStatement)="startCustomStatement($event)"
    />
  } @else if (activeView() === 'manage') {
    <app-manage-view
      [categories]="store.categories()"
      [statements]="store.statements()"
      [categoryForm]="categoryForm"
      [statementForm]="statementForm"
      [isEditingStatement]="isEditingStatement"
      [dayOptions]="dayOptions"
      [categoryName]="categoryName.bind(this)"
      [statementSummary]="statementSummary.bind(this)"
      (addCategory)="addCategory()"
      (deleteCategory)="deleteCategory($event.id, $event.name)"
      (saveStatement)="saveStatement()"
      (cancelStatementEdit)="cancelStatementEdit()"
      (setScheduleEnabled)="setScheduleEnabled($event)"
      (toggleScheduleDay)="toggleScheduleDay($event.day, $event.checked)"
      (addScheduleTime)="addScheduleTime()"
      (updateScheduleTime)="updateScheduleTime($event.index, $event.value)"
      (removeScheduleTime)="removeScheduleTime($event)"
      (editStatement)="editStatement($event)"
      (deleteStatement)="deleteStatement($event)"
    />
  } @else {
    <app-stats-view
      [stats]="store.stats()"
      [categoriesCount]="store.categories().length"
      [dueOccurrences]="store.dueOccurrences()"
      [notificationCopy]="notificationCopy"
      [notificationStatus]="notificationStatus"
      [notificationsEnabled]="store.settings().notificationsEnabled"
      [formatCompletedDate]="formatCompletedDate.bind(this)"
      [formatRelativeReminder]="formatRelativeReminder.bind(this)"
      (exportData)="exportData()"
      (enableNotifications)="enableNotifications()"
      (importData)="importDataFile($event)"
    />
  }
</app-app-shell>

@if (privatePracticeOpen()) {
  <app-private-practice-modal
    [draft]="privatePracticeDraft"
    (start)="startPrivatePractice()"
    (cancel)="closePrivatePractice()"
  />
}

@if (privateSession(); as privateSession) {
  <app-private-session-modal
    [session]="privateSession"
    [feedback]="privateSessionFeedback()"
    (updateEntry)="updatePrivateEntry($event)"
    (submit)="submitPrivateEntry()"
    (discard)="discardPrivateSession()"
  />
}

@if (blockingReminder(); as reminder) {
  <app-reminder-modal
    [reminder]="reminder"
    [formatRelativeReminder]="formatRelativeReminder.bind(this)"
    (start)="startScheduledStatement($event)"
  />
}

@if (store.activeSession(); as activeSession) {
  @if (activeStatement(); as statement) {
    <app-active-session-modal
      [activeSession]="activeSession"
      [statement]="statement"
      [feedback]="sessionFeedback()"
      (updateEntry)="updateActiveEntry($event)"
      (submit)="submitActiveEntry()"
      (restart)="restartSession()"
      (dismiss)="dismissActiveSession()"
    />
  }
}
